* {
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css?family=Lora');

@font-face {
    src: url("/static/fonts/Starjout.ttf");
    font-family: "StarJedi";
}

button {
    background-color: transparent;
    border: none;
    font-family: 'Lora', serif;
    color: #FFF;
    outline: none;
}

body {
    font-family: 'Lora', serif;
    color: #FFF;
    background-color: #000;
}

h1 {
    font-family: "StarJedi", cursive;
    letter-spacing: 2px;
    img {
        height: 2rem;
    }
}

.fadeIn {
    opacity: 1;
    display: block;
    transition: opacity .5s ease-in, display 0s .5s linear; 
}

.fadeOut {
    opacity: 0;
    display: none;
    transition: opacity .5s ease-in, display 0s .5s linear;
}

.home {
    &-mainImg {
        height: 20rem;
        display: block;
        margin: 1rem auto;
    }
    &-title {
        text-align: center;
        //text-transform: uppercase;
        font-size: 3rem;
    }
    &-txt {
        text-align: center;
        margin-bottom: 2rem;
    }
    &-start {
        display: block;
        width: 12rem;
        text-align: center;
        font-size: 2rem;
        border: thin solid #FFF;
        padding: .5rem 0;
        margin: 0 auto;
        cursor: pointer;
        color: #FFF;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
    }
}

.game {
    &-content {
        margin-top: 2rem;
        display: flex;
        align-items: center;
        &-container {
            width: 90%;
            overflow: hidden;
        } 
        &-button {
            width: 10%;
            cursor: pointer;
            img {
                height: 2rem;
            }
        }
        &-list {
            display: flex;
            list-style: none;
            transition: all .5s linear;
            &-item {
                flex: 0 0 auto;
                padding: 1rem;
                box-sizing: border-box;
                border: thin solid #FFF;
                width: 10rem;
                &.correct {
                    border-color: green;
                }
                &.wrong {
                    border-color: red;
                }
                &-pic {
                    &-img {
                        width: 100%;
                    }
                }
                &-controllers {
                    display: flex;
                }
                &-button {
                    margin-top: .5rem;
                    font-size: 1.5rem;
                    cursor: pointer;
                    border: thin solid #FFF;
                    &-show {
                    }
                    &-response {
                        margin-left: 2rem;
                    }
                }
                &-name {
                    display: flex;
                    opacity: 0;
                    transition: all .5s ease;
                    &.show {
                        opacity: 1;
                    }
                    &-input {
                        width: 90%;

                    }
                    &-send {
                        width: 10%;
                        img {
                            height: 1rem;
                        }
                    }
                }
            }
        }
    }
}

%overlay-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.8);
}

%center-content {
    background-color: #000;
    width: 600px;
    height: 400px;
    border: thin solid #FFF;
    top: calc(50% - 200px);
    padding: 1rem;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
}

.detail {
    @extend %overlay-screen;
    &-content {
        @extend %center-content;
        &-close {
            position: absolute;
            height: 1rem;
            top: 1rem;
            right: 1rem;
            cursor: pointer;
        }
    }
}

.finish {
    @extend %overlay-screen;
    &-content {
        @extend %center-content;
        &-point {
            font-size: 5rem;
            text-align: center;
        }
    }
}